Repository rubfermarz/mantra-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint . --ext .ts --max-warnings 0 --fix, eslint . --ext .html --max-warnings 0 --fix

Changed default packagemanager
  angular.json
Due: prettier --write

Added linter angular specific
  .eslintrc.json
  .prettierrc.json
  angular.json
  package.json
  src/app/app.component.spec.ts
Due: prettier --write, eslint . --ext .ts --max-warnings 0 --fix

Removed unused dependencies
  package.json
Due: prettier --write

Revert "Removed unused dependencies"
  package.json
Due: prettier --write

Revert "Added linter angular specific"
  .eslintrc.json
  .prettierrc.json
  angular.json
  package.json
  src/app/app.component.spec.ts
Due: prettier --write, eslint . --ext .ts --max-warnings 0 --fix

Reapply "Added linter angular specific"
  .eslintrc.json
  .prettierrc.json
  angular.json
  package.json
  src/app/app.component.spec.ts
Due: prettier --write, eslint . --ext .ts --max-warnings 0 --fix

Reapply "Removed unused dependencies"
  package.json
Due: prettier --write

Create LICENSE
  LICENSE
Due: none

Update LICENSE
  LICENSE
Due: none

Added README
  README.md
Due: none

Added no console rule
  .eslintrc.json
  projects/mantra/mantra-ui/directives/ripple/src/ripple.directive.ts
  server.ts
  src/main.ts
Due: prettier --write, eslint . --ext .ts --max-warnings 0 --fix

Finished basic card feature
  projects/mantra/mantra-ui/components/button/src/button.component.html
  projects/mantra/mantra-ui/components/card/src/card/card.component.html
  projects/mantra/mantra-ui/components/card/src/content-card/content-card.component.html
  projects/mantra/mantra-ui/components/card/src/content-card/content-card.component.scss
  projects/mantra/mantra-ui/components/card/src/footer-card/footer-card.component.html
  projects/mantra/mantra-ui/components/card/src/footer-card/footer-card.component.scss
  projects/mantra/mantra-ui/components/card/src/footer-card/footer-card.component.ts
  src/app/app.component.html
Due: prettier --write, eslint . --ext .ts --max-warnings 0 --fix, eslint . --ext .html --max-warnings 0 --fix

Added jest and created tests of ripple
  .husky/pre-commit
  angular.json
  jest.config.ts
  package.json
  projects/mantra/mantra-ui/components/button/src/button.component.spec.ts
  projects/mantra/mantra-ui/directives/ripple/src/ripple.directive.spec.ts
  setup-jest.ts
  tsconfig.spec.json
Due: prettier --write, eslint . --ext .ts --max-warnings 0 --fix

Added coverage threshold and added ignore files pattern to ignore
  jest.config.ts
Due: prettier --write, eslint . --ext .ts --max-warnings 0 --fix

Dogge image moved to local assets
  README.md
  src/app/app.component.html
  src/assets/Original_Doge_meme.jpg
  src/styles.scss
Due: prettier --write, eslint . --ext .html --max-warnings 0 --fix

Updated jest
  package.json
  pnpm-lock.yaml
Due: prettier --write

Updated @angular-eslint/schematics
  package.json
  pnpm-lock.yaml
Due: prettier --write

Updated to angular 18
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add catalog-info.yaml config file
  catalog-info.yaml
Due: none

Path conditions:
  prettier --write: (((any of: *.ts) or (any of: *.html)) or (any of: *.scss)) or (any of: *.json)
  eslint . --ext .ts --max-warnings 0 --fix: any of: *.ts
  eslint . --ext .html --max-warnings 0 --fix: any of: *.html
